# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
*.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Mac
.DS_Store

# Migrations
*/migrations/
