<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block case_section%}
        <div id="cases" class="w-full p-5 rounded-lg bg-light-gray transform duration-500">
            <h1 class="text-3xl font-medium text-gray-900 transform duration-500">Your Cases</h1>
            <ol id="case_content"
                class="mt-5  md:grid md:grid-cols-2 md:space-y-0 md:gap-4 divide-opacity-5 space-y-4 max-h-60 md:max-h-none overflow-y-scroll [&::-webkit-scrollbar]:hidden transform duration-500"> 
                <a href=""
                    class="items-center block p-3 sm:flex hover:bg-white border border-gray rounded-lg ">
                    <div class="text-gray-600 ">
                        <div class="text-base font-normal">Robbery - Investigator Name</div>
                        <div class="text-sm font-normal">Investigation Process</div>
                    </div>
                </a>
                <input type="hidden" name="" id="user_type" value="{{user_type}}">
                
            </ol>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                fetch(`/case/displaycases/`).then(response => response.json()).then(data => {
                    if(data.status){
                        const cases = document.getElementById("cases");
                        cases.innerHTML = "";
                        cases.innerHTML=`
                            <p class="text-xl text-dark-red">Error occured while fetching cases</p>
                        `
                    }
                    else if (data.length > 0){
                        const cases = document.getElementById("case_content");
                        console.log(data)
                        cases.innerHTML="";
                        data.forEach(element => {
                            const anchor = document.createElement('a');
                            anchor.className = 'items-center block p-3 sm:flex hover:bg-white border border-gray rounded-lg';
                            anchor.href=`/casepage/${element.case_id}/`;

                            
                            if('investigator' in element){
                                if(element.investigator==null){
                                    anchor.innerHTML = `
                                        <div class="text-gray-600 ">
                                            <div class="text-base font-normal">${element.case_title.replace("_"," ")} - Investigator Not Assigned </div>
                                            <div class="text-sm font-normal">${element.status.replace("_"," ")}</div>
                                        </div>
                                    `;
                                    cases.appendChild(anchor);
                                }
                                else{
                                    anchor.innerHTML = `
                                        <div class="text-gray-600 ">
                                            <div class="text-base font-normal">${element.case_title} - ${element.investigator}</div>
                                            <div class="text-sm font-normal">${element.status.replace("_"," ")}</div>
                                        </div>
                                    `;
                                    cases.appendChild(anchor);
                                }
                            }
                            else if ('reporter' in element){
                                anchor.innerHTML = `
                                        <div class="text-gray-600 ">
                                            <div class="text-base font-normal">${element.case_title.replace("_"," ")} - ${reporter__user_name} </div>
                                            <div class="text-sm font-normal">${element.status.replace("_"," ")}</div>
                                        </div>
                                    `;
                                    cases.appendChild(anchor);
                            }
                        });
                    }
                    else{
                        const cases = document.getElementById("cases");
                        cases.innerHTML = "";
                        cases.innerHTML=`
                            <p class="text-2xl">No cases</p>
                        `
                    }
                });
            });
        </script>
    {%endblock%}
</body>
</html>