<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block case_section%}
        <div id="cases" class="w-full p-5 rounded-lg bg-light-gray transform duration-500">
            <h1 class="text-3xl font-medium text-gray-900 transform duration-500">Your Cases</h1>
            <ol
                class="mt-5  md:grid md:grid-cols-2 md:space-y-0 md:gap-4 divide-opacity-5 space-y-4 max-h-60 md:max-h-none overflow-y-scroll [&::-webkit-scrollbar]:hidden transform duration-500">
                <a href="{%url 'ReportEaseApp:CasePage'%}"
                    class="items-center block p-3 sm:flex hover:bg-white border border-gray rounded-lg ">
                    <div class="text-gray-600 ">
                        <div class="text-base font-normal">Home Robbery - Investigator Name</div>
                        <div class="text-sm font-normal">Investigation Process</div>
                    </div>
                </a>
                <a href="{%url 'ReportEaseApp:CasePage'%}"
                    class="items-center block p-3 sm:flex hover:bg-white border border-gray rounded-lg">
                    <div class="text-gray-600 ">
                        <div class="text-base font-normal">Phone theft - Investigator Name</div>
                        <div class="text-sm font-normal">Investigation Process</div>
                    </div>
                </a>
                <a href="{%url 'ReportEaseApp:CasePage'%}"
                    class="items-center block p-3 sm:flex hover:bg-white border border-gray rounded-lg">
                    <div class="text-gray-600 ">
                        <div class="text-base font-normal">Identity Theft - Investigator Name</div>
                        <div class="text-sm font-normal">Investigation Process</div>
                    </div>
                </a>
                <a href="{%url 'ReportEaseApp:CasePage'%}"
                    class="items-center block p-3 sm:flex hover:bg-white border border-gray rounded-lg">
                    <div class="text-gray-600 ">
                        <div class="text-base font-normal">Bank Account Info - Investigator Name</div>
                        <div class="text-sm font-normal">Investigation Process</div>
                    </div>
                </a>
            </ol>
        </div>
    {%endblock%}
</body>
</html>