<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static tailwind_tags%}
    {%tailwind_css%}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>
<body class="bg-gradient-to-b  from-dark-blue transform duration-500" >
    <div class="bg-gray-50 transform duration-500">
        <div
            class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen md:justify-center lg:py-0 transform duration-500">
            <div
                class="w-full bg-white rounded-lg shadow-[0_2px_13px_-6px_rgba(0,0,0,0.8)] md:mt-0 sm:max-w-md  xl:p-0 transform duration-500">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8 transform duration-500">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight  md:text-2xl transform duration-500">
                        Forgot Password ?
                    </h1>
                    <form id="forgot_password_form" style="display: block;" class="space-y-4 md:space-y-6 transform duration-500"
                        action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="transform duration-500" >
                            <label for="email" class="block mb-2 text-sm font-medium ">Enter email
                                :</label>
                            <input type="email" name="email" id="email"
                                class="bg-gray-50 border border-gray-300  rounded-lg focus:ring-0 selection:outline-none block w-full p-2.5 "
                                placeholder="name@company.com" required="">
                        </div>
                        <p class="text-dark-red text-xs transform duration-500" id="invalid_for_email"></p>

                        <button type="submit" id="emailsubmit"
                            class="w-full text-white bg-dark-blue  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:shadow-lg hover:shadow-cool-gray hover:scale-[1.02] hover:duration-[0.15s] transform ">Get OTP</button>
                    </form>
                    <form id="enter_otp_form" style="display: none;" class="space-y-4 md:space-y-6 transform duration-500"
                        action="" method="post">
                        {% csrf_token %}
                        <div class="transform duration-500" >
                            <label for="otp" class="block mb-2 text-sm font-medium  ">Enter otp
                                :</label>
                            <input type="number" name="otp" id="otp"
                                class="bg-gray-50 border border-gray-300  rounded-lg focus:ring-0 selection:outline-none block w-full p-2.5 "
                                placeholder="234567" required="">
                        </div>
                        <p class="text-dark-red text-xs transform duration-500" id="invalid_for_otp"></p>

                        <button type="submit" id="otpsubmit"
                            class="w-full text-white bg-dark-blue  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:shadow-lg hover:shadow-cool-gray hover:scale-[1.02] hover:duration-[0.15s] transform ">Submit</button>
                    </form>

                    <form id="change_password_form" style="display: none;"class="space-y-4 md:space-y-6 transform duration-500"
                        action="" method="post">
                        {% csrf_token %}
                        <div class="transform duration-500" >
                            <label for="password" class="block mb-2 text-sm font-medium  ">Enter New Password :</label>
                            <input type="password" name="password" id="password"
                                class="bg-gray-50 border border-gray-300  rounded-lg focus:ring-0 selection:outline-none block w-full p-2.5 "
                                placeholder="" required="">
                        </div>
                        <div class="transform duration-500" >
                            <label for="cpassword" class="block mb-2 text-sm font-medium  ">Confirm New Password 
                                :</label>
                            <input type="password" name="cpassword" id="cpassword"
                                class="bg-gray-50 border border-gray-300  rounded-lg focus:ring-0 selection:outline-none block w-full p-2.5 "
                                placeholder="" required>
                        </div>
                        <p class="text-dark-red text-xs transform duration-500" id="invalid_for_cpassword"></p>

                        <button type="submit" id="passwordsubmit"
                            class="w-full text-white bg-dark-blue  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:shadow-lg hover:shadow-cool-gray hover:scale-[1.02] hover:duration-[0.15s] transform ">Submit Password</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        const forgot_password_form = document.getElementById("forgot_password_form");

        forgot_password_form.addEventListener("submit", function(event){
            event.preventDefault();
            const formData = new FormData(forgot_password_form);
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            formData.append("email", document.getElementById("email").value);
            document.getElementById("invalid_for_email").classList.remove('text-dark-red');
            document.getElementById("invalid_for_email").innerHTML = "Wait for a moment";
            fetch(`/user/send-otp/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                body: formData,
            }).then(response=>response.json()).then(data=>{
               if(data.status=="fail"){
                    document.getElementById("invalid_for_email").classList.add('text-dark-red');
                    document.getElementById("invalid_for_email").innerHTML = data.message;
               }
               else if (data.status=="success"){
                    console.log("email_send_success");
                    document.getElementById("invalid_for_email").innerHTML = "";
                    document.getElementById("forgot_password_form").style.display = "none";
                    const otp_form = document.getElementById("enter_otp_form");
                    otp_form.style.display = "block";
                    otp_form.addEventListener("submit", function(event){
                        event.preventDefault();
                        const formData = new FormData(otp_form);
                        fetch(`/user/verify-otp/`,{
                            method:"POST",
                            headers:{
                                'X-CSRFToken': csrftoken,
                            },
                            body:formData,
                            })
                            
                        .then(response => response.json())
                        .then(data => {
                            if (data.status == "fail"){
                                document.getElementById("invalid_for_otp").innerHTML = data.message;
                            }
                            else if (data.status == "success"){
                                document.getElementById("invalid_for_otp").innerHTML = "";
                                document.getElementById("enter_otp_form").style.display = "none";
                                const password_form = document.getElementById("change_password_form");
                                password_form.style.display = "block";
                                password_form.addEventListener("submit", function(event){
                                    event.preventDefault();
                                    //check if password and confirm password match or Not
                                    if(document.getElementById('password').value != document.getElementById('cpassword').value){
                                        document.getElementById("invalid_for_cpassword").innerHTML = "Passwords do not match";
                                        return;
                                    }
                                    const formData = new FormData(password_form);
                                    fetch(`/user/change-password/`,{
                                        method:"POST",
                                        headers:{
                                            'X-CSRFToken': csrftoken,
                                        },
                                        body:formData,
                                    }).then(response => response.json()).then(data => {
                                        if (data.status == "fail"){
                                            document.getElementById("invalid_for_cpassword").innerHTML = data.message;
                                        }
                                        else if (data.status=="success"){
                                            window.location.href='/user/login/';
                                        }
                                    })
                                });

                            }
                        });
                    });
                    
                }

            });
        });


        //const enter_otp_form = document.getElementById("enter_otp_form");
        //const change_password_form = document.getElementById("change_password_form");

    </script>
</body>
</html>