{%extends 'BaseTemplate.html' %}

<!-- using extends in register page as overriding/modifying of elements happens in register page rather than the base template which has nav bar -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {%load static tailwind_tags%}
    {%tailwind_css%}

</head>

<body class="">
    {% block main_content %}

    <!-- i was unable to override/modify elements in parent template using include so using include in base template because nav bar shouldnt be changed anywhere-->



    <div style="display: none;" class="absolute z-20 w-full h-full bg-black bg-opacity-50 " id="video_div">
        <button type="button"
            class="text-white font-bold bg-transparent   rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center "
            id="close_button">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close menu</span>
        </button>
        <video id="video" autoplay class="mx-auto self-center mt-10 rounded-lg"></video>
        <div class=" mx-auto  text-center mt-5">
            <button id="capturebtn"
                class="bg-cool-gray text-white font-medium opacity-100 px-12 py-3 rounded-lg ">Capture Photo</button>
        </div>
    </div>

    <div class="bg-gradient-to-b from-gray to-white w-full min-h-screen px-6 py-6">
        <!-- block fields is inside the form in register page so to identify which just include a hidden input tag with a value "crime" form -->
        <div class="text-center sm:p-6 p-4">
            {%block topic%}
            <h4 class="text-2xl text-black md:text-3xl font-bold mt-3">Report Incident</h4>
            {%endblock%}
        </div>
        <form action="" method="post" id="register_form" class="max-w-4xl mx-auto bg-white shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] sm:p-8 p-6 rounded-md transform duration-500" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="grid sm:grid-cols-2 gap-6 transform duration-500">
                <div>
                    <input type="hidden" name="register_crime_form" id="register_crime_form" value="register_crime_form">
                    <label class="text-gray-900 text-sm  mb-2 block">What Type of crime did you witness/face?</label>
                    <select name="crime_type" type="text" required
                        class=" focus:bg-transparent  w-full text-sm text-gray-800 px-4 py-2.5 rounded border focus:ring-0 focus:border-black outline-none transition-all"
                        placeholder="Enter name">
                        <option value="" disabled selected value>-- choose an option --</option>
                        <option value="ANTI_SOCIAL">Antisocial Behaviour</option>
                        <option value="BURGLARY">Burglary</option>
                        <option value="CRIMINAL_DAMAGE">Criminal Damage</option>
                        <option value="CYBER_CRIME">CyberCrime</option>
                        <option value="FRAUD">Fraud</option>
                        <option value="HATE_CRIME">Hate Crime</option>
                        <option value="ROBBERY">Robbery</option>
                        <option value="RURAL_CRIME">Rural Crime</option>
                        <option value="SPIKING">Spiking</option>
                        <option value="STACKING">Stacking</option>
                    </select>
                </div>
                <div>
                    <label class="text-gray-900 text-sm  mb-2 block">Date of the Crime</label>
                    <input name="crime_date" type="date" required
                        class=" focus:bg-transparent w-full text-sm text-gray-800 px-4 py-2.5 rounded border focus:ring-0 focus:border-black outline-none transition-all" />
                </div>
                <div>
                    <label class="text-gray-900 text-sm  mb-2 block">Time of the Crime</label>
                    <input name="crime_time" type="time" required
                        class=" focus:bg-transparent w-full text-sm text-gray-800 px-4 py-2.5 rounded border focus:ring-0 focus:border-black outline-none transition-all" />
                </div>
                <div class="sm:flex justify-between sm:gap-5">
                    <div class="sm:w-1/2 w-full">
                        <label class="text-gray-900 text-sm  mb-2 block">Crime Location</label>
                        <input type="text" name="crime_location" required
                            class=" focus:bg-transparent w-full text-sm text-gray-800 px-4 py-2.5 rounded border focus:ring-0 focus:border-black outline-none transition-all/"
                            placeholder="Balkhu, Kathmandu">
                    </div>
                    <div class=" sm:w-1/2 w-full mt-5 sm:mt-0">
                        <label class="text-gray-900 text-sm  mb-2 block">Google map link</label>
                        <input type="text" name="crime_location_link" required
                            class=" focus:bg-transparent w-full text-sm text-gray-800 px-4 py-2.5 rounded border focus:ring-0 focus:border-black outline-none transition-all"
                            placeholder="google.com/maps/place/Thapagaon,+Kathmandu+44600/@27.6937656,85.3306358,13z/data=!3m1!4b1!4m6!3m5!1s0x39eb1a3a3c4d79a3:0xbc31c43a32d1db97!8m2!3d27.6984077!4d85.3730428!16s%2Fg%2F1tct_vj5?entry=ttu&g_ep=EgoyMDI1MDIwNS4xIKXMDSoASAFQAw%3D%3D ">
                    </div>
                </div>
                <div>
                    <label class="text-gray-900 text-sm  mb-2 block">Provide Evidence</label>
                    <input type="file" name="crime_evidence" accept="image/*,video/*" multiple
                        class=" w-full text-sm  px-4 rounded focus:ring-0 border  focus:border-none outline-0 box-border h-10 selection:ring-0 transition-all">
                </div>
                <div>
                    <label class="text-gray-900 text-sm  mb-2 block">Describe the crime</label>
                    <textarea name="crime_description" id="" required
                        class="focus:bg-transparent w-full text-sm text-gray-800 rounded border focus:ring-0 focus:border-black h-10 outline-none transition-all "
                        placeholder="Write everything you saw in detail"></textarea>
                </div>

                <div class="">
                    <label class="text-gray-900 text-sm  mb-2 block">Upload your Citizenship</label>
                    <input type="file" name="citizenship" required multiple
                        class=" w-full text-sm  px-4  rounded focus:ring-0 border focus:border-none outline-0 box-border h-10 selection:ring-0 transition-all"
                        accept="image/*">
                </div>
                <div class="">
                    <label class="text-gray-900 text-sm  mb-2 block">Upload your recent photo</label>

                    <button type="button" id="open"
                        class="w-full md:w-3/4 sm:w-3/6 bg-cool-gray min-w-40 text-white font-medium text-sm text-center px-4 py-[0.45rem] rounded focus:ring-0 border outline-0 box-border h-10 selection:ring-0 transition-all hover:underline">Open
                        Camera</button>
                </div>
                <div class="">
                    <label class="text-gray-900 text-sm  mb-2 block">Are you the victim?</label>

                    <input type="checkbox" name="yes_no"
                        class="rounded-lg text-sm text-gray-800   border focus:ring-0 focus:border-black outline-none transition-all/">

                </div>
                <div class="">
                    <label class="text-gray-900 text-sm  mb-2 " id="picturelabel" style="display:none;">Your Picture:</label>
                    <canvas id="canvas" style="display:none;"></canvas>
                    <img name="recent_photo" src="" id="img" style="display:none;" requierd
                        class="  selection:bg-black w-28 h-28 text-sm text-gray-800 rounded-lg focus:ring-0 focus:border-black outline-none transition-all/" />
                    <input type="hidden" type="file" name="recent_photo_dataurl" id="recent_photo_dataurl">


                </div>
            </div>
            <p id="invalid" class="text-dark-red w-full text-xs text-gray-800  mt-3 rounded focus:ring-0  focus:border-blue-600 outline-none transition-all"></p>
            <div class="mt-8 transform duration-500">
                <button type="submit" id="submit"
                class="block py-2.5 mx-auto px-4 text-sm tracking-wider rounded text-white focus:ring-0 bg-dark-blue w-full md:max-w-sm hover:underline hover:shadow-cool-gray hover:shadow-lg hover:scale-[1.02] hover:duration-[0.15s]">
                    
                    <p>Report</p>
                    
                </button>
            </div>
        </form>
    </div>
    <script>        
            const open = document.getElementById('open');
            const video = document.getElementById('video');
            const capturebtn = document.getElementById('capturebtn');
            const canvas = document.getElementById('canvas');
            const img = document.getElementById('img');
            const videodiv = document.getElementById('video_div');
            const close_button = document.getElementById('close_button');

            open.addEventListener('click', async function startCam() {
                try {
                    // IN CHROME I HAVE MARKED THIS http://192.168.1.68:8000/ AS SAFE
                    // by enabling  chrome://flags/#unsafely-treat-insecure-origin-as-secure and adding this ipv4 address to it 
                    // to revert it just disable the above and remove the ip address
                    var stream = await navigator.mediaDevices.getUserMedia({ video: true });
                    videodiv.style.display = 'block';
                    video.style.display = 'block';
                    video.srcObject = stream;
                    video.play();
                } catch (error) {
                    alert("Error accessing the camera: " + error);
                }
            });

            capturebtn.addEventListener('click', () => {
                videodiv.style.display = 'none';
                video.style.display = 'none';
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                const context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const dataURL = canvas.toDataURL('image/png',0.6);
                document.getElementById('recent_photo_dataurl').value = dataURL;
                img.src = canvas.toDataURL('image/png');
                img.style.display = 'block';

                formData.append("recent_photo_dataurl", dataURL);
                //document.getElementById('recent_photo_dataurl').value = dataURL;

                
                let stream = video.srcObject;
                let tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
                video.srcObject = null;
                //console.log(img.src);
            });

            close_button.addEventListener('click', () => {
                videodiv.style.display = 'none';
                video.style.display = 'none';
                let stream = video.srcObject;
                let tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
                video.srcObject = null;

            });

            const form = document.querySelector('form');
            const submitbtn = document.getElementById("submit");
            const formData = new FormData();

            const citizenship = document.querySelector('input[name="citizenship"]');
            

            citizenship.addEventListener('change', async (event) => {
                const files = event.target.files;
                let index = 0;
                Object.values(files).forEach(async file => {

                
                    if (!file) return;
                
                    const compressedBlob = await compressImage(file, 0.6, 800); // quality: 0.6, max width: 800px
                
                    // Now you can send `compressedBlob` via fetch or FormData
                    
                    formData.append(`citizenship`, compressedBlob, `compressed_citizenship_${index+1}.jpg`);
                    index++;
                    console.log(formData.get('citizenship'));
                });
            });


            

            form.addEventListener('submit', function (event) {
                
                // Prevent form submission for validation

                event.preventDefault();
                const crime_type = document.querySelector('select[name="crime_type"]');
                const crime_date = document.querySelector('input[name="crime_date"]');
                const crime_time = document.querySelector('input[name="crime_time"]');
                const crime_location = document.querySelector('input[name="crime_location"]');
                const crime_location_link = document.querySelector('input[name="crime_location_link"]');
                const crime_evidence = document.querySelector('input[name="crime_evidence"]');
                
                const crime_description = document.querySelector('textarea[name="crime_description"]');
                const user_citizenship = document.querySelector('input[name="citizenship"]');
                const user_recent_photo = document.getElementById("recent_photo_dataurl");
                const yes_no = document.querySelector('input[name="yes_no"]');
                const inputs = [crime_type.value, crime_date.value, crime_time.value, crime_location.value, crime_location_link.value, crime_evidence.value, crime_description.value, user_citizenship.value, user_recent_photo.value, yes_no.checked];



                // Check if any of the required fields are empty
                let isValid = true;
                // Prevent form submission for validation
                inputs.forEach(input => {
                    if (!input || input === 'null') {
                        isValid = false;
                    }
                });
                if (!isValid) {
                    event.preventDefault();
                    document.getElementById("invalid").innerText = "Please fill all the fields";
                    return;
                }

                //compress the citizenship image and recent photo image before sending to server
                
                
                //create a form data
                

                formData.append("crime_type", crime_type.value);
                formData.append("crime_date", crime_date.value);
                formData.append("crime_time", crime_time.value);
                formData.append("crime_location", crime_location.value);
                formData.append("crime_location_link", crime_location_link.value);
                formData.append("crime_description", crime_description.value);
                formData.append("yes_no", yes_no.checked ? "yes" : "no");
                for (let i = 0; i < crime_evidence.files.length; i++) {
                    formData.append('crime_evidence', crime_evidence.files[i]);
                }

                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                fetch("/citizen/registercase/", {
                    method: "POST",
                    //include csrf_token
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    body: formData,
                   
                })
                    .then(response => response.json()).then(data => {
                        //console.log("response received", data);
                        if (data.status === "error") {
                            document.getElementById("invalid").innerText = data.message;
                        }
                        else if (data.status === "success") {
                            //wait for 1 second to redirect due to broken pipe error
                            window.location.href = "/home/";
                        }
                        else {
                            document.getElementById("invalid").innerText = "An unexpected error occurred. Please try again.";
                        }
                    });
            });

            //compress image
            function compressImage(file, quality = 0.7, maxWidth = 1000) {
                return new Promise((resolve, reject) => {
                  const img = new Image();
                  const reader = new FileReader();
              
                  reader.readAsDataURL(file);
                  reader.onload = (e) => {
                    img.src = e.target.result;
                  };
              
                  img.onload = () => {
                    const canvas = document.createElement('canvas');
                    const scale = Math.min(maxWidth / img.width, 1);
                    canvas.width = img.width * scale;
                    canvas.height = img.height * scale;
              
                    const ctx = canvas.getContext('2d');
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
              
                    canvas.toBlob((blob) => {
                      resolve(blob);
                    }, 'image/jpeg', quality);
                  };
              
                  img.onerror = reject;
                  reader.onerror = reject;
                });
            }

    </script>
    {% endblock %}



</body>

</html>