{%extends "BaseTemplate.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static tailwind_tags%}
    {%tailwind_css%}
</head>

<body>
    {%block main_content%}
    <div class="my-10 md:mx-10 mx-5 box-border rounded-lg ">
        <div class="md:flex md:divide-x box-border ">
            <!-- Evidenced Media -->
            <div class="w-full md:w-5/12 min-w-72 rounded-lg bg-light-gray h-auto md:mr-5  p-5 self-start transform duration-500"
                onload="getelementdetail(this)">
                <h1 class="text-2xl font-semibold mb-5">Evidences: </h1>
                <img src=""
                    style="display: none;" alt="Product"
                    class="object-contain w-full md:h-80 sm:h-72 h-64 border border-gray rounded-lg shadow-md mb-5 bg-white"
                    id="mainImage">

                <video preload="metadata" src="" autoplay controls
                    class="object-contain w-full md:h-80 sm:h-72 h-64 border border-gray rounded-lg shadow-md mb-5 bg-white" style="display: none;" id="mainVideo"></video>
                <p id="filelabel" class="self-center my-5 font-medium text-center">Hello</p>
                <div class="flex gap-5 overflow-x-scroll [&::-webkit-scrollbar]:hidden transform duration-500" id="imagelist">
                    {% comment %} 
                    <div onclick="getinfo(this)">
                        <video src="{{ MEDIA_URL }}ReportEaseApp/Evidence/Video/vid.mp4" alt="evidence"
                            onclick="changeVideo(this.src)" preload="metadata"
                            class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300">play</video>
                        <p id="imagelabels" class="hidden self-center my-5 font-medium text-center"></p>
                    </div>
                     {% endcomment %}
                </div>
            </div>

            <!-- Fir report Details -->
            <div class="w-full mt-10 md:my-0 md:pl-5 transform duration-500">
                <div class=" rounded-lg p-5 bg-light-gray transform duration-500">
                    <h2 class="text-2xl font-semibold mb-2" id="title"></h2>
                    <p class="mb-7 text-sm" id="upload_date"></p>
                    <div class="flex mb-5 items-center gap-5 ">
                        <button>
                            <img class="md:w-12 md:h-12 w-10 h-10 rounded-full object-cover" id="reporter_image"
                                src="" alt="Rounded avatar">
                        </button>
                        <div>
                            <p class="text-lg mr-2" id="reporter"></p>
                            <p class="text-xs" id="is_victim"></p>
                        </div>
                    </div>

                    <p class="text-gray-700 mb-7" id="description"></p>

                    <div class="mb-7">
                        <div class="flex gap-2">
                            <h3 class="text-md font-semibold mb-2">Date of Crime :</h3><p id="crime_date"></p>
                        </div>
                        <div class="flex gap-2">
                            <h3 class="text-md font-semibold mb-2">Time of Crime :</h3><p id="crime_time">12 : 53 PM</p>
                        </div>
                        <div class="flex gap-2">
                            <h3 class="text-md font-semibold mb-2">Location of Crime : </h3> <p id="crime_location"></p> <a href="" id="crime_link" target=”_blank”> <u class="text-cool-gray" >click for exact location</u></a>
                        </div>
                        
                    </div>
                    {%if user_type == "Investigator"%}
                        <div class="md:flex mt-10 md:gap-5 transform duration-500">
                            <button type='button' id="register" id="deleteButton" data-modal-target="deleteModal" data-modal-toggle="deleteModal" class="rounded-lg px-12 py-3 bg-dark-blue hover:shadow-md hover:scale-[1.02] hover:duration-[.2s] text-white font-medium">Mark As registered</button>
                            <button type='button' id="dont_register" id="deleteButton" data-modal-target="deleteModal" data-modal-toggle="deleteModal" class="rounded-lg px-12 py-3 bg-dark-red hover:shadow-md hover:scale-[1.02] hover:duration-[.2s] text-white font-medium md:mt-0 mt-5">Mark As Failed</button>
                        </div>
                    {%endif%}
                    {%if user_type == "Admin"%}
                        <form action="" method="POST" enctype="multipart/form-data" id="assign_investigator_form">
                            {%csrf_token%}
                            <input type="hidden" name="" id="csrftoken" value="{{ csrftoken }}">
                            <div class="flex mb-5 items-center gap-5 ">
                                <button>
                                    <img class="md:w-12 md:h-12 w-10 h-10 rounded-full object-cover" id="investigator_image"
                                        src="" alt="Rounded avatar">
                                </button>
                                <div>
                                    <p class="text-base mr-2">Registered By:</p>
                                    <p class="text-xs" id="investigator_name"></p>
                                </div>
                            </div>
                            <p class="text-gray-700 mb-7" id="best_investigator"></p>
                            <div class="md:flex mt-10 md:gap-5 transform duration-500">
                                <select name="investigators_list" id="investigators_list" class="rounded-lg px-12 py-3 bg-dark-blue  text-white font-medium focus:ring-0">
                                    <option value="" disabled selected value>-- choose an option --</option>
                                </select>
                                <button type='submit' id="save_investigator" id="deleteButton"  class="rounded-lg px-12 py-3 bg-dark-blue hover:shadow-md hover:scale-[1.02] hover:duration-[.2s] text-white font-medium">Save</button>
                            </div>
                        </form>
                    {%endif%}
                    <p id="invalid" class="mt-5 text-sm text-dark-red"></p>
                    <input type="hidden" name="user_type" value="{{ user_type }}" id="user_type">
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" tabindex="-1" aria-hidden="true" class="hidden bg-black bg-opacity-70 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full md:h-full">
        <div class="relative p-4 w-full max-w-md h-full bg-opacity-70 md:h-auto">
            <!-- Modal content -->
            <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <button type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <p id="are_you_sure" class="mb-4 text-gray-500 dark:text-gray-300">Are you sure ?
                    
                </p>
                <div class="flex justify-center items-center space-x-4">
                    <button id="no_button" data-modal-toggle="deleteModal" type="button" class="py-2 px-3 text-sm font-medium  bg-white text-cool-gray rounded-lg border   focus:ring-0 focus:outline-none focus:ring-primary-300" >
                        No, cancel
                    </button>
                    <button id="yes_button" type="submit" class="py-2 px-3 text-sm font-medium text-center text-white bg-cool-gray rounded-lg  focus:ring-0 focus:outline-none ">
                        Yes, I'm sure
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- carousel -->


    <!-- end carousel -->

    {% comment %} js for switching image and text in thhe carousel {% endcomment %}
    <script>
        
        function changeImage(src) {
            const video = document.getElementById('mainVideo');
            video.style.display = 'none';
            video.pause();
            const image = document.getElementById('mainImage');
            image.style.display = 'block';
            document.getElementById('mainImage').src = src;
        }
        function changeVideo(src) {
            const image = document.getElementById('mainImage');
            image.style.display = 'none';
            const video = document.getElementById('mainVideo');
            video.style.display = 'block';
            video.src = src;
        }
        function changetext(content) {
            document.getElementById('filelabel').innerHTML = content;
        }
        function getinfo(element) {
            try {
                var imgSource = element.querySelector("img");
                const imgSrc = imgSource.src;
                changeImage(imgSrc);
            }
            catch {
                var imgSource = element.querySelector("video");
                const imgSrc = imgSource.src;
                changeVideo(imgSrc);
            }
            if (element.id == 'evidence_div'){
                const textContent = 'Evidence';
                changetext(textContent);
            }
            else if (element.id == 'recent_photo_div'){
                const textContent = 'Recent Photo';
                changetext(textContent);
            }
            else if (element.id == 'Citizenship'){
                const textContent = 'Citizenship';
                changetext(textContent);
            }

            
        }
    
    </script>

    {% comment %} for fetching the data and making backend request calls {% endcomment %}

    <script>
         //get 24 from these type of urls http://127.0.0.1:8000/reviewfir/24/
         const pathParts = window.location.pathname.split('/');
         const firId = parseInt(pathParts[pathParts.length - 2]);   // '24' is before the last empty string
        document.addEventListener("DOMContentLoaded", function (event){
           
            //console.log(firId); // Use this to fetch your data

            fetch(`/casedetails/${firId}/`).then(response => {
                if (response.ok) {
                    
                    return response.json();
                } else {
                    throw new Error('Network response was not ok');
                }
            }).then(data => {
                console.log(data); // Check the data structure in the console
                document.getElementById('title').innerText = data.case_data.case_title;
                document.getElementById('upload_date').innerText =`Uploaded on : ${data.case_data.upload_date.split('T')[0]}`; // Format the date as needed
                document.getElementById('reporter').innerText = data.case_data.reporter;
                document.getElementById('is_victim').innerText = data.case_data.is_reporter_the_victim ? "Is the Victim" : "Not the Victim";
                document.getElementById('description').innerText = data.case_data.crime_description;
                document.getElementById('crime_date').innerText = data.case_data.crime_date; // Format the date as needed

                let time = data.case_data.crime_time.split(":"); //this gets data in hh:mm:ss format 
                // i want in hh:ss am/pm format
                time = parseInt(time[0]) > 12 ? parseInt(time[0]) - 12 + ":" + time[1] + " PM" : parseInt(time[0]) + ":" + time[1] + " AM";
                document.getElementById('crime_time').innerText = time; // Format the date as needed
                document.getElementById('crime_location').innerText = data.case_data.crime_location;
                document.getElementById('crime_link').href = data.case_data.crime_link;
                document.getElementById('reporter_image').src = data.case_data.reporter_pic; // Format the date as needed

                //for displaying evidence images and videos
                const evidenceList = data.evidence;
                const imagelist = document.getElementById('imagelist');
                imagelist.innerHTML = ""; // Clear existing content
                let index=0;
                Object.values(evidenceList).forEach(evidence => {
                    if(index==0){
                        //display the first evidence
                        if (evidence.evidence_type === 'image') {
                            const img_disp = document.getElementById("mainImage");
                            img_disp.style.display="block";
                            img_disp.src = evidence.evidence_pic_file
                        }
                        else if (evidence.evidence_type === 'video') {
                            const vid_disp = document.getElementById("mainVideo");
                            vid_disp.style.display="block";
                            vid_disp.src = evidence.evidence_vid_file
                        }
                        const filelabel = document.getElementById('filelabel');
                        filelabel.innerText = `Evidence`;

                    }
                    const div = document.createElement('div');
                    div.id = 'evidence_div';
                    div.onclick = function() { getinfo(this); };
                    if (evidence.evidence_type === 'image') {
                        const img = document.createElement('img');
                        img.src = evidence.evidence_pic_file;
                        img.alt = "Evidence Image";
                        img.className = "size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300";
                        div.appendChild(img);
                    } else if (evidence.evidence_type === 'video') {
                        const video = document.createElement('video');
                        video.src = evidence.evidence_vid_file;
                        video.alt = "Evidence Video";
                        video.className = "size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300";
                        div.appendChild(video);
                    }
                    
                    imagelist.appendChild(div);
                    index += 1;
                });


                //for recent photo of reporter
                if(data.recent_photo){
                    const div = document.createElement('div');
                    div.id = 'recent_photo_div';
                    div.onclick = function() { getinfo(this); };
                    const img = document.createElement('img');
                    img.src = data['recent_photo'].recent_photo;
                    img.alt = "Recent Photo";
                    img.className = "size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300";
                    div.appendChild(img);
                    //const filelabel = document.getElementById('filelabel');
                    //filelabel.innerText = `recent`;
                    imagelist.appendChild(div);
                }

                const citizenshipList = data.citizenship;
                Object.values(citizenshipList).forEach(citizenship => {
                    const div = document.createElement('div');
                    div.id = 'Citizenship';
                    div.onclick = function() { getinfo(this); };
                    const img = document.createElement('img');
                    img.src = citizenship.citizenship_photo;
                    img.alt = "Citizenship Image";
                    img.className = "size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300";
                    div.appendChild(img);
                    imagelist.appendChild(div);
                });

                user_type = document.getElementById('user_type').value;
                if (user_type == "Admin"){
                    let investigator_image = document.getElementById('investigator_image');
                    investigator_image.src = data.case_data.registered_by_pic;

                    let investigator_name = document.getElementById('investigator_name');
                    investigator_name.innerText = data.case_data.registered_by;

                    let investigators_list = document.getElementById('investigators_list');
                    Object.values(data.available_investigators).forEach(investigator => {
                        let option = document.createElement('option');
                        option.value = investigator.user_email;
                        option.innerText = `${investigator.user_name}-${investigator.user_email}`;
                        investigators_list.appendChild(option);
                    });

                    let best_investigator = document.getElementById("best_investigator");
                    if(data.case_data.best_investigator_name != null && data.case_data.best_investigator_email != null){
                        best_investigator.innerText = `Best Investigator for this case is : ${data.case_data.best_investigator_name}-${data.case_data.best_investigator_email}`;
                    }  
                }
            }).catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }); 
        
        const assign_investigator_form = document.getElementById('assign_investigator_form');
        if(assign_investigator_form){
            assign_investigator_form.addEventListener('submit', (event) => {
                event.preventDefault();
                const formData = new FormData(assign_investigator_form);
                fetch(`/assigninvestigator/${firId}/`,{
                    method: 'POST',
                    headers:{
                        'X-CSRFToken': document.getElementById('csrftoken').value,
                    },
                    body: formData,
                }).then(response => response.json()).then(data =>{
                    if(data.status == "success"){
                        window.location.href = '/caselist/';
                    }
                    if(data.status == "error" || data.status == "request"){
                        document.getElementById('invalid').innerText = data.message;
                    }
                })
                
            });
        }

    </script>

    <script>
        const register_button = document.getElementById('register');
        const dont_register_button = document.getElementById('dont_register');
        if(register_button){
                
            register_button.addEventListener('click', () => {
                    const p_tag = document.getElementById('are_you_sure');
                    p_tag.innerHTML="Do you want to mark this case as registered?"; 

                    const yes_button = document.getElementById('yes_button');
                    if(yes_button){
                        yes_button.addEventListener('click',()=>{
                            const pathParts = window.location.pathname.split('/');
                            const firId = parseInt(pathParts[pathParts.length - 2]); 
                            // markregistered/<int:id>/
                            fetch(`/investigator/markregistered/${firId}/`).then(response => response.json()).then(data =>{
                                if(data.status == 'success'){
                                    window.location.href = '/caselist/';
                                }
                                else{
                                    const invalid = document.getElementById('invalid');
                                    invalid.innerText = data.message;
                                }
                            });

                        });
                    }     

            });
            
        }
        if(dont_register_button){
                
            dont_register_button.addEventListener('click', () => {
                const p_tag = document.getElementById('are_you_sure');
                p_tag.innerHTML="Do you want to mark this case as failed?"; 

                const yes_button = document.getElementById('yes_button');
                if (yes_button){ 
                    yes_button.addEventListener('click',()=>{
                        const pathParts = window.location.pathname.split('/');
                        const firId = parseInt(pathParts[pathParts.length - 2]); 
                        // marknotregistered/<int:id>/

                        fetch(`/investigator/marknotregistered/${firId}/`).then(response => response.json()).then(data =>{
                            if(data.status =='success'){
                                window.location.href = '/caselist/';
                            }
                            else{
                                const invalid = document.getElementById('invalid');
                                invalid.innerText = data.message;
                            }
                        });
                        
                    }); 
                }
            });
            
        }
    </script>

    {%endblock%}
</body>

</html>